<div *ngIf="!loading && !selRevCertification">
 <div class="row">
  <div class="col-8">
   <h4 class="page-header">Work Board</h4>
   <p-table #dt1 [value]="certifications" selectionMode="single" [rows]="10" [autoLayout]="true" [paginator]="true"
            [alwaysShowPaginator]="false" [pageLinks]="5" [resizableColumns]="true"
            [globalFilterFields]="['certificationStatus']">
    <ng-template pTemplate="caption">
     <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="w-50 d-flex">
       <div *ngFor="let status of statuses" class="pr-3">
        <p-badge styleClass="p-badge-dot" severity="{{status['severity']}}"></p-badge>
        <span class="pl-2 p-text-italic">{{status['count'] + ' ' +status['name']}}</span>
       </div>
      </div>

      <p-dropdown [options]="statuses" optionLabel="name" optionValue="value" placeholder="Select a Status"
                  [showClear]="true" (onChange)="dt1.filterGlobal($event['value'], 'contains')">
      </p-dropdown>
     </div>
    </ng-template>
    <ng-template pTemplate="header">
     <tr>
      <th>No.</th>
      <th pSortableColumn="certificationId">Certification ID <p-sortIcon field="certificationId"></p-sortIcon>
      </th>
      <th pSortableColumn="uniqueName">Name <p-sortIcon field="uniqueName"></p-sortIcon>
      </th>
      <th pSortableColumn="applicationDate">Date <p-sortIcon field="applicationDate"></p-sortIcon>
      </th>
      <th pSortableColumn="renewableEnergy">Sector <p-sortIcon field="renewableEnergy"></p-sortIcon>
      </th>
      <th pSortableColumn="certificationStatus">Status <p-sortIcon field="certificationStatus"></p-sortIcon>
      </th>
     </tr>
    </ng-template>
    <ng-template pTemplate="body" let-list>
     <tr>
      <td>{{list.no}}</td>
      <td>{{list.certificationId}}</td>
      <td>{{list.uniqueName | titlecase}}</td>
      <td>{{list.applicationDate | date: 'dd/MM/YYYY'}}</td>
      <td>{{list.renewableEnergy | titlecase}}</td>
      <td ngClass="{{list.certificationStatus + ' status-text'}}">
       <span class="link" (click)="reviewCertification(list)">
        {{list.certificationStatus === 'in-review' ? 'Under-Review' : list.certificationStatus | titlecase}}
       </span>
      </td>
     </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
     <tr>
      <td class="p-5 text-center" colspan="7">
       No Certifications Found
      </td>
     </tr>
    </ng-template>
   </p-table>

  </div>
  <div class="col-4 side-info">
   <div class="personal-workspace">
    <h6>Personal Workspace <i class="pi pi-save" (click)="savePSpace()"></i></h6>
    <ngx-wig [(ngModel)]="pworkSpace">
    </ngx-wig>
   </div>
   <div class="recent-cases">
    <h6>Recent Cases</h6>
    <div *ngFor="let case of recentCases" class="case">
     <div>
      <div class="case__id"> {{case['certificationId']}}</div>
      <div class="case__name">{{case['uniqueName']}}</div>
     </div>
     <div>{{case['approvedDate'] | date:'dd/MM/YYYY'}}</div>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="row" *ngIf="!loading && selRevCertification">
 <div class="col-5">
  <div class="doc-list">
   <h6 class="heading">Pre-Issuance Documentation</h6>
   <div class="doc-list__item">
    <div class="d-flex align-items-center">
     <i class="fa fa-check-circle" [ngClass]="{'reviewed' : reportStatus['signedDocument']}"></i>
     <span class="doc-list__item__name">Certification Agreement</span>
    </div>
    <button class="btn btn-wg" *ngIf="!showSuccess" (click)="reviewReport('signedDocument')">Review</button>
   </div>
   <div class="doc-list__item">
    <div class="d-flex">
     <i class="fa fa-check-circle" [ngClass]="{'reviewed' : reportStatus['caAssuranceReport']}"></i>
     <span class="doc-list__item__name">Assurance Report</span>
    </div>
    <button class="btn btn-wg" *ngIf="!showSuccess" (click)="reviewReport('caAssuranceReport')">Review</button>
   </div>
   <div class="doc-list__item">
    <div class="d-flex">
     <i class="fa fa-check-circle" [ngClass]="{'reviewed' : reportStatus['gbAssuranceReport']}"></i>
     <span class="doc-list__item__name">Green Bond Framework</span>
    </div>
    <button class="btn btn-wg" *ngIf="!showSuccess" (click)="reviewReport('gbAssuranceReport')">Review</button>
   </div>
   <div class="doc-list__item">
    <div class="d-flex">
     <i class="fa fa-check-circle" [ngClass]="{'reviewed' : reportStatus['cbi']}"></i>
     <span class="doc-list__item__name">Climate Bonds Information Form</span>
    </div>
    <button class="btn btn-wg" *ngIf="!showSuccess" (click)="reviewReport('cbi')">Review</button>
   </div>
  </div>
 </div>
 <div class="col-7">
  <div class="doc-viewer">
   <a class="back" (click)="loadWorkBoard()"><i class="fa fa-angle-double-left"></i><span> Back</span></a>
   <div class="doc-viewer__header">
    <div>
     <div class="cId">{{selRevCertification['certificationId']}}</div>
     <div class="uName">{{selRevCertification['uniqueName']}}</div>
    </div>
    <div class="date">
     Date of Application: {{selRevCertification['applicationDate'] | date:'dd/MM/YYYY'}}
    </div>
   </div>
   <div class="doc-viewer__body" *ngIf="reportStatus['currentReport'] !== 'cbi' && pdfSrc">
    <ngx-extended-pdf-viewer [src]="pdfSrc" [showSidebarButton]="false" [minifiedJSLibraries]="true"
                             [useBrowserLocale]="true" [language]="'en-US'" [httpHeaders]="pdfHeaders"
                             [showOpenFileButton]="false" [zoom]="'page-width'"
                             (pdfLoadingFailed)="showError('error', 'Error', 'Unable to load PDF')"
                             [showBookmarkButton]="false" [showPresentationModeButton]="true"
                             (pagesLoaded)="showApproveBtn(true)"></ngx-extended-pdf-viewer>
   </div>
   <div class="doc-viewer__body py-3" *ngIf="reportStatus['currentReport'] === 'cbi'">
    <p-scrollPanel class="scroll-panel">
     <div class="info">
      <div class="info__items"><label>Name of {{selRevCertification['instrumentType'] | titlecase}}:</label></div>
      <div class="info__items"><span>{{selRevCertification['uniqueName']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Country of Issuance:</label></div>
      <div class="info__items"><span>{{selRevCertification['issuanceCountry']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>CUSIP:</label></div>
      <div class="info__items"><span>{{selRevCertification['cusip']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Local Currency:</label></div>
      <div class="info__items"><span>{{selRevCertification['localCurrency']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>ISIN:</label></div>
      <div class="info__items"><span>{{selRevCertification['isin']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Amount Issued In Local Currency:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['amountIssued']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Coupon:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['coupon']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Underwriter:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['underwriter']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label> Instrument Type:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['daInstrumentType']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Issue Date:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['issueDate'] | date:'dd/MM/YYYY'}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Maturity Date:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['maturityDate'] | date:'dd/MM/YYYY'}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Sector:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['renewableEnergy']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Sector Description:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['renewableEnergyText']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Sector Description:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['renewableEnergyText']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Refinancing of existing assets or financing new assets?:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['financingAssets']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Proceeds allocation across different project categories?:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['proceedsAllocation']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Is there to be a portfolio(framework) approach?:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['portfolioApproach']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Describe the decision procedure/policy for assessment of assets:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['decisionProcedure']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Proceeds are to be either earmarked OR ringfenced?:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['proceedsType']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Provide detail on either earmarking or ringference process:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['proceedsProcessDetail']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Timing for allocation of {{selRevCertification['instrumentType'] | titlecase}}
        proceeds:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['proceedsAllocationTiming']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Use of proceeds before allocation to Certified assets/projects:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['proceedsUse']}}</span>
      </div>
     </div>
     <h5 class="mt-5">Allocation Report</h5>
     <div class="info">
      <div class="info__items"><label>How often will there be a report?:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['allocationReportFreq']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>In what format (newsletter, part of CSR report, website disclosure / EMMA
        report):</label></div>
      <div class="info__items"><span>
        {{selRevCertification['allocationReportFormat']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label> Will the report be public or bondholder/lender only?:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['allocationReportAccess']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label> If report will be on issuer website, please give website address:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['allocationReportAddressLink']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Will it include a breakdown of proceed allocations by individual project?:</label>
      </div>
      <div class="info__items"><span>
        {{selRevCertification['breakdownInclusion']}}</span>
      </div>
     </div>
     <h5 class="mt-5">Impact Reporting (environmental impacts/outcomes)</h5>
     <div class="info">
      <div class="info__items"><label>How often will there be a report?:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['impactReportFreq']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>In what format (newsletter, part of CSR report, website disclosure / EMMA
        report):</label></div>
      <div class="info__items"><span>
        {{selRevCertification['impactReportFormat']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label> Will the report be public or bondholder/lender only?:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['impactReportAccess']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label> If report will be on issuer website, please give website address:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['impactReportAddressLink']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Will there be quantitative impact indicators disclosed for each project
        category?:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['quantitativeImpact']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Address of Head Office:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['headOfficeAddress']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>VAT Number (EU Countries):</label></div>
      <div class="info__items"><span>
        {{selRevCertification['vatNumber']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Business Registration No.:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['businessRegistration']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Name:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['contactName']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Position:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['position']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Company:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['company']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Contact number:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['contactNumber']}}</span>
      </div>
     </div>
     <div class="info">
      <div class="info__items"><label>Invoice Details:</label></div>
      <div class="info__items"><span>
        {{selRevCertification['invoiceName']}}</span>
      </div>
     </div>
     <div class="py-2">
     </div>
    </p-scrollPanel>
   </div>
   <div class="doc-viewer__footer" *ngIf="reportStatus['pdfLoaded']">
    <div class="dropdown">
     <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
      Other Actions
     </button>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" role="button" (click)="reviewerInput(false, reportStatus['currentReport'])">Reject</a>
      <a class="dropdown-item" role="button" href="mailto:{{selRevCertification['userEmail']}}">Contact Issuer</a>
     </div>
    </div>
    <button class="btn btn-green" *ngIf="!showSubmit"
            (click)="reviewerInput(true, reportStatus['currentReport'])">Approve</button>
    <button data-toggle="modal" data-target="#approveCertModal" class="btn btn-green"
            *ngIf="showSubmit && !showSuccess">Submit</button>
   </div>

  </div>

 </div>
</div>


<div class="modal fade" id="approveCertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" [ngClass]="{'modal-sm': !showSuccess}" role="document">
  <div class="modal-content px-3 pb-4">
   <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
   </button>
   <div *ngIf="!showSuccess">
    <h6 class="text-center">Are you sure ?</h6>
    <div class="d-flex justify-content-between mt-4">
     <button class="btn btn-red" data-dismiss="modal">No</button>
     <button class="btn btn-green" (click)="submitApproval()">Yes</button>
    </div>
   </div>
   <div *ngIf="showSuccess">
    <div class="title">
     Review Successful
    </div>
    <div class="cId">{{selRevCertification['certificationId']}}</div>
    <div class="doc-list mt-4">
     <div class="doc-list__item">
      <span class="doc-list__item__name">Certificate</span>
      <i class="fa fa-check-circle reviewed"></i>
     </div>
     <div class="doc-list__item">
      <span class="doc-list__item__name">Confirmation of Certificaiton</span>
      <i class="fa fa-check-circle reviewed"></i>
     </div>
     <div class="doc-list__item">
      <span class="doc-list__item__name">An email confirmation</span>
      <i class="fa fa-check-circle reviewed"></i>
     </div>
     <div class="doc-list__item">
      <span class="doc-list__item__name">Logo</span>
      <i class="fa fa-check-circle reviewed"></i>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>