.btn {
  font-size: 16px;
  border-radius: 4px;
  padding: 2px 0;
  min-width: 120px;
  font-weight: 400;

  &.btn-primary {
    background: #fff;
    color: #808085;
    border: 2px solid #c8c8cb;
  }

  &.btn-secondary {
    background: #ffcc4f;
    border: 2px solid #ffcc4f;
    color: #ffffff;
  }

  &.btn-green {
    background-color: #8dc63f;
    border: 2px solid #8dc63f;
    color: #ffffff;
    padding: 3px 30px;
  }

  &.btn-red {
    background-color: #c40404;
    border: 2px solid #c40404;
    color: #ffffff;
    padding: 3px 30px;
  }
}

.scroll-panel {
  ::ng-deep {
    .p-scrollpanel {
      width: 100%;
      height: calc(100vh - 350px);
    }
  }
}

.user-actions {
  .pi {
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
  }

  .pi-check {
    color: #689f38;
  }

  .pi-times {
    color: #d32f2f;
    padding-left: 15px;
  }
}

.dropdown-item {
  cursor: pointer;
}

.status-text {
  &.approved {
    color: #689f38;
  }

  &.in-review {
    color: #fbc02d;

    .link {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &.draft {
    color: #d32f2f;
  }
}

.side-info {
  background-color: #f8f8f8;
  padding: 20px 15px;
  margin: -30px 0 0;
}

.personal-workspace {
  position: relative;
  margin-top: 10px;

  ::ng-deep {
    .nw-editor {
      height: 300px;
    }

    .nw-toolbar {
      border-top: 3px solid #fbc02d;
      border-right: 3px solid #fbc02d;
      border-left: 3px solid #fbc02d;
    }

    .nw-editor-container {
      border-bottom: 3px solid #fbc02d;
      border-right: 3px solid #fbc02d;
      border-left: 3px solid #fbc02d;
    }
  }

  .save {
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 10px;
    top: 30px;
    cursor: pointer;
    min-width: auto;
    padding: 0 3px 0 10px;
    margin: 0;
    border-left: 1px solid #dedede;
    border-radius: 0;
    height: 30px;
    font-weight: 600;
  }
}

.recent-cases {
  margin-top: 40px;

  .case {
    background-color: #fbc02d;
    border-radius: 8px;
    padding: 5px 20px;
    margin-bottom: 10px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__id {
      font-size: 16px;
      font-weight: 600;
    }

    &__name {
      font-size: 14px;
    }
  }
}

.doc-list {
  .heading {
    border-bottom: 1px solid #c8c8cb;
    padding-bottom: 3px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .fa-check-circle {
      font-size: 28px;
      color: #fbc02d;

      &.reviewed {
        color: #8dc63f;
      }
    }

    &__name {
      font-size: 16px;
      padding-left: 10px;
    }

    .btn-wg {
      border: 1px solid #8dc63f;
      color: #8dc63f;
      font-weight: 400;
      padding: 0 20px;
    }
  }
}

.doc-viewer {
  .back {
    color: #808085;
    text-decoration: none;
    cursor: pointer;
    text-align: right;
    display: block;
    font-weight: 700;
    font-size: 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid #c8c8cb;
    padding-bottom: 3px;

    .cId {
      color: #fbc02d;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__body {
    .info {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      padding: 0 5px 5px;

      &__items {
        &:first-child {
          width: 65%;
        }
        padding: 3px 15px;
        width: 50%;
      }
    }
  }

  &__footer {
    border-top: 1px solid #c8c8cb;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

    .other-actions {
      width: 150px;
    }
  }
}

.modal {
  .modal-content {
    border-top: 15px solid #fbc02d;
    border-radius: 6px;

    .title {
      text-align: center;
      font-size: 20px;
      color: #8dc63f;
    }

    .cId {
      text-align: center;
      margin-top: 5px;
      color: #fbc02d;
      font-weight: 600;
    }

    .doc-list {
      &__item {
        padding: 0 15px;

        &__name {
          padding: 0;
          font-size: 14px;
        }

        .fa-check-circle {
          font-size: 23px;
        }
      }
    }
  }
}
