<div class="form-title">
  <div>
    <span class="step"> Step 2/4 </span>
    <span class="px-1">-</span>
    <span>Certification Agreement</span>
  </div>
</div>
<div class="row">
  <div class="col-5">
    <div class="form-card h-100">
      <div class="form-card__title">
        <div>User Information</div>
      </div>
      <div class="form-group row">
        <label for="uniqueBondName1" class="col-sm-6 col-form-label">Date of application</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="uniqueBondName1" />
        </div>
      </div>
      <div class="form-group row">
        <label for="uniqueBondName1" class="col-sm-6 col-form-label">Legal Name of Issuing Entity</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="uniqueBondName1" />
        </div>
      </div>
      <div class="form-group row">
        <label for="uniqueBondName1" class="col-sm-6 col-form-label">
          Unique Name of Debt Instruments to be certified
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="uniqueBondName1" />
        </div>
      </div>
      <div class="form-group row">
        <label for="uniqueBondName1" class="col-sm-6 col-form-label">Address</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="uniqueBondName1" />
        </div>
      </div>
      <div class="form-group row">
        <label for="uniqueBondName1" class="col-sm-6 col-form-label">Email Address</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="uniqueBondName1" />
        </div>
      </div>
      <div class="form-group row">
        <label for="uniqueBondName1" class="col-sm-6 col-form-label">Contact person of Issuer</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="uniqueBondName1" />
        </div>
      </div>
      <div class="form-group row">
        <label for="uniqueBondName1" class="col-sm-6 col-form-label">Signature</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="uniqueBondName1" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="form-card h-100">
      <div class="form-card__title">
        <div>Agreement Document</div>
        <div>
          <div class="btn btn-green upload-btn mr-3">
            Upload +
            <input type="file">
          </div>

          <button class="btn btn-secondary">Download</button>

        </div>
      </div>
      <div class="dummy-doc">
        <div class="dummy-doc__page">
          <div class="number">Page 1</div>
        </div>
        <div class="dummy-doc__page">
          <div class="number">Page 2</div>
        </div>
        <div class="dummy-doc__page">
          <div class="number">Page 3</div>
        </div>
        <div class="dummy-doc__page">
          <div class="number">Page 4</div>
        </div>
        <div class="dummy-doc__page">
          <div class="number">Page 5</div>
        </div>
        <div class="dummy-doc__page">
          <div class="number">Page 6</div>
        </div>
      </div>
    </div>
  </div>
</div>
