.header {
  width: 100%;
  padding-left: 100px;

  .navbar {
    padding: 30px 15px 15px 0;
    border-bottom: 1px solid #d3d3d3;

    .nav-item {
      padding: 0 10px;
      .nav-link {
        color: #000000;
        padding: 0;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
      }
    }
  }

  .notification {
    position: relative;
    &__badge {
      position: absolute;
      top: -3px;
      background: red;
      color: white;
      padding: 3px 6px;
      border-radius: 50%;
      font-size: 10px;
      right: -10px;
    }
  }
}
