<div class="">
  <h4 class="page-header">Certification Dashboard</h4>
  <div class="row">
    <div class="col-8">
      <div class="d-flex justify-content-between">
        <div class="card stat-card">
          <div class="card__ribbon"></div>
          <p class="title">In-Progress Certifications</p>
          <p class="count">09</p>
        </div>
        <div class="card stat-card">
          <div class="card__ribbon"></div>
          <p class="title">Completed Certifications</p>
          <p class="count">89</p>
        </div>
        <div class="card stat-card">
          <div class="card__ribbon"></div>
          <p class="title">Total Certifications</p>
          <p class="count">97</p>
        </div>
      </div>
      <div class="user-options">
        <button type="button" class="btn btn-primary" (click)="test()">
          Bond Redemption
        </button>
        <span class="px-3"></span>
        <button
          type="button"
          class="btn btn-secondary"
          routerLink="/certification-types"
        >
          Apply For Certification
        </button>
      </div>
    </div>
    <div class="col-4 pl-5">
      <div class="recent-certifications">
        <div class="recent-certifications__title">Recent Certifications</div>
        <div class="recent-certifications__list">
          <div class="recent-certifications__item">
            <div class="recent-certifications__item__id">COL284736478</div>
            <div>
              <button class="btn btn-secondary-sm" type="button">
                Submit Now
              </button>
            </div>
          </div>
          <div class="recent-certifications__item">
            <div class="recent-certifications__item__id">COL284736478</div>
            <div>
              <button class="btn btn-secondary-sm" type="button">
                Submit Now
              </button>
            </div>
          </div>
          <div class="recent-certifications__item">
            <div class="recent-certifications__item__id">COL284736478</div>
            <div>
              <button class="btn btn-secondary-sm" type="button">
                Submit Now
              </button>
            </div>
          </div>
          <div class="recent-certifications__item">
            <div class="recent-certifications__item__id">COL284736478</div>
            <div>
              <button class="btn btn-secondary-sm" type="button">
                Submit Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
