<div class="sidebar-sticky__items">
 <ul class="nav flex-column align-content-center">
  <li class="nav-item">
   <!-- <a class="nav-link fa fa-bar-chart" [ngClass]="{'active': page === '/dashboard'}" routerLink="dashboard">
   </a> -->
   <img class="nav-link" src="../../../../assets/images/dashboard-icon.png" routerLink="dashboard">
  </li>
  <li class="nav-item">
   <!-- <a class="nav-link fa fa-sitemap" [ngClass]="{'active': page === '/certification-types'}"
      routerLink="certification-types">
   </a> -->
   <img class="nav-link" src="../../../../assets/images/certification-icon.png" routerLink="certification-types">
  </li>
  <li class="nav-item">
   <!-- <a class="nav-link fa fa-folder" [ngClass]="{'active': page === '/issuer-reports'}" routerLink="issuer-reports">
   </a> -->
   <img class="nav-link" src="../../../../assets/images/reports-icon.png" routerLink="issuer-reports">
  </li>
 </ul>
</div>