<div class="sidebar-sticky__items">
 <ul class="nav flex-column align-content-center">
  <li class="nav-item">
   <!-- <a class="nav-link fa fa-bar-chart" [ngClass]="{'active': page === '/dashboard'}" routerLink="dashboard">
   </a> -->
   <img class="nav-link" src="../../../../assets/images/dashboard-icon.png" routerLink="dashboard">
  </li>
  <li class="nav-item">
   <!-- <a class="nav-link fa fa-sitemap" [ngClass]="{'active': page === '/work-board'}" routerLink="work-board">
   </a> -->
   <img class="nav-link" src="../../../../assets/images/certification-icon.png" routerLink="work-board">
  </li>
  <li class="nav-item">
   <!-- <a class="nav-link fa fa-database" [ngClass]="{'active': page === '/reviewer-certification-queue'}"
      routerLink="reviewer-certification-queue">
   </a> -->
   <img class="nav-link" src="../../../../assets/images/queue-icon.png" routerLink="reviewer-certification-queue">
  </li>
  <li class="nav-item">
   <!-- <a class="nav-link fa fa-folder" [ngClass]="{'active': page === '/reviewer-reports'}" routerLink="reviewer-reports">
   </a> -->
   <img class="nav-link" src="../../../../assets/images/reports-icon.png" routerLink="reviewer-reports">
  </li>
 </ul>
</div>