<div class="sidebar-sticky__items">
  <ul class="nav flex-column align-content-center">
    <li class="nav-item">
      <a class="nav-link fa fa-bar-chart" [ngClass]="{'active': page === '/dashboard'}" routerLink="dashboard">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link fa fa-sitemap" [ngClass]="{'active': page === '/work-board'}" routerLink="work-board">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link fa fa-database" [ngClass]="{'active': page === '/admin-certification-queue'}" routerLink="admin-certification-queue">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link fa fa-folder" [ngClass]="{'active': page === '/admin-reports'}" routerLink="admin-reports">
      </a>
    </li>
  </ul>
</div>
