.debt-instrument {
  .next-link {
    color: #8dc63f;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    word-spacing: 3px;
    cursor: pointer;
  }

  .btn {
    font-size: 16px;
    border-radius: 4px;
    padding: 2px 20px;

    &.btn-primary {
      background: #fff;
      color: #808085;
      border: 2px solid #c8c8cb;
    }

    &.btn-secondary {
      background: #ffcc4f;
      border: 2px solid #ffcc4f;
      color: #ffffff;
    }

    &.btn-green {
      background-color: #8dc63f;
      border: 2px solid #8dc63f;
      color: #ffffff;
    }
  }
}

.modal {
  .modal-content {
    height: 250px;
    position: relative;
    padding: 60px 40px;

    .close {
      display: block;
      width: 15px;
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 40px;
      font-weight: 300;
    }

    .fa {
      font-size: 100px;
      color: #8dc63f;
    }

    .application-details {
      padding: 10px;

      &__title {
        color: #8dc63f;
        font-size: 18px;
      }

      &__id {
        font-size: 12px;
        font-weight: 700;
      }

      &__contactus {
        margin-top: 30px;
        font-size: 10px;

        .link {
          text-decoration: underline;
        }
      }
    }
  }
}
