.card {
  border-radius: 45px;
  padding: 0 0 50px;
  border: 1px solid #c8c8cb;
  width: 100%;
  max-width: 250px;

  &__ribbon {
    border-top: 8px solid #ffcc4f;
    margin-top: 40px;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    color: #ffcc4f;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
  }

  &.certificate {
    max-width: 300px;

    .title {
      font-size: 22px;
      margin-top: 90px;
    }
  }
}

.btn {
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px 0;
  width: 120px;
  margin: auto;

  &.btn-primary {
    background: #fff;
    color: #808085;
    border: 2px solid #c8c8cb;
  }

  &.btn-secondary {
    background: #ffcc4f;
    border: 2px solid #ffcc4f;
    color: #ffffff;
  }
}

.debt-instruments {
  background-color: #ffcc4f;
  padding: 20px 60px 40px 50px;
  position: fixed;
  top: 80px;
  bottom: 0;
  right: 0;
  overflow-y: auto;

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .card {
    border-radius: 20px;
    padding: 10px 30px 15px;
    border: 1px solid #c8c8cb;
    text-align: left;
    max-width: 400px;
    margin-top: 10px;

    .title {
      color: #ffcc4f;
      font-size: 18px;
      font-weight: 700;
      margin: 0;
      text-align: left;
    }

    .description {
      font-size: 13px;
      line-height: 16px;
      color: #000000;
      margin-bottom: 10px;
    }

    .btn {
      margin: 0;
    }

    .contact-us {
      border: none;
      background-color: #ececec;
      padding: 8px;
      border-radius: 4px;
      width: 55%;
    }
  }
}
