<div>
  <div class="row">
    <div class="col-6">
      <div class="d-flex justify-content-between">
        <h4 class="page-header">Certification Type</h4>
        <a
          class="back-link"
          *ngIf="userSelection"
          routerLink="/certification-types"
          >&lt;&lt; Back</a
        >
      </div>
      <div class="row" *ngIf="!userSelection">
        <div class="col-5">
          <div class="card">
            <div class="card__ribbon"></div>
            <h4 class="title">Pre-Issuance Certifications</h4>
            <a
              [routerLink]="['/certification-types']"
              [queryParams]="{ select: 'pre' }"
              class="btn btn-secondary"
            >
              Apply
            </a>
          </div>
        </div>
        <div class="col-5 offset-1">
          <div class="card">
            <div class="card__ribbon"></div>
            <h4 class="title">Post-Issuance Certifications</h4>
            <a
              [routerLink]="['/certification-types']"
              [queryParams]="{ select: 'post' }"
              class="btn btn-secondary"
            >
              Apply
            </a>
          </div>
        </div>
      </div>
      <div
        class="d-flex justify-content-center"
        *ngIf="userSelection && userSelection === 'pre'"
      >
        <div class="card certificate">
          <div class="card__ribbon"></div>
          <h4 class="title">Pre-Issuance Certifications</h4>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="debt-instruments">
        <div class="debt-instruments__title">Debt Instruments</div>

        <div class="card">
          <div class="title">Bond</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ad
            minim veniam, quis nostrud exercitation.
          </div>
          <a class="btn btn-secondary">Apply</a>
        </div>
        <div class="card">
          <div class="title">Loan</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ad
            minim veniam, quis nostrud exercitation.
          </div>
          <a class="btn btn-secondary">Apply</a>
        </div>
        <div class="card">
          <div class="title">Deposit</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ad
            minim veniam, quis nostrud exercitation.
          </div>
          <a class="btn btn-secondary">Apply</a>
        </div>
        <div class="card">
          <div class="title">Others</div>
          <div class="d-flex justify-content-between">
            <input class="contact-us" />
            <a class="btn btn-secondary">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
