<app-sidebar></app-sidebar> <app-header></app-header>
<div class="main-content">
  <h4 class="page-header">Certification Type</h4>
  <div class="row">
    <div class="col-7">
      <div class="row">
        <div class="col-5">
          <div class="card">
            <div class="card__ribbon"></div>
            <h4 class="title">Pre-Issuance Certifications</h4>
            <button type="button" class="btn btn-secondary">Apply</button>
          </div>
        </div>
        <div class="col-5 offset-1">
          <div class="card">
            <div class="card__ribbon"></div>
            <h4 class="title">Post-Issuance Certifications</h4>
            <button type="button" class="btn btn-secondary">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
