:host ::ng-deep {
  p-table {
    table {
      font-size: 14px;
    }
    .p-paginator-bottom {
      justify-content: flex-end !important;
    }
  }

  ngx-extended-pdf-viewer {
    .toolbarField {
      padding: 0px 6px;
      margin: 6px 0;
    }

    .toolbarButton {
      border: 0;
    }
  }
}
