.btn {
  font-size: 14px;
  border-radius: 4px;
  padding: 2px 0;
  min-width: 80px;
  font-weight: 400;

  &.btn-green {
    background-color: #8dc63f;
    border: 1px solid #8dc63f;
    color: #ffffff;
  }

  &.btn-yellow {
    background-color: #f7a931;
    border: 1px solid #f7a931;
    color: #ffffff;
  }

  &.btn-gray {
    background: #ffffff;
    color: #808085;
    border: 1px solid #c8c8cb;
  }
}

.modal {
  .modal-content {
    height: 250px;
    position: relative;
    padding: 60px 40px;

    .close {
      display: block;
      width: 15px;
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 40px;
      font-weight: 300;
    }
  }
}

.actions {
  width: 115px;
  .p-button-rounded {
    width: 30px;
    padding: 5px;
  }
}

.icon-btn {
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 30%);
  width: 28px;
  text-align: center;
  background-color: #ffffff;
  color: #222222;
  cursor: pointer;
}

input.ng-invalid.ng-touched {
  border: 1px solid #d00;
  box-shadow: none;
}
.user-stats {
  background-color: #f8f8f8;
  padding: 8px 25px;
  border-radius: 25px;

  .card {
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;

    &.active {
      background-color: #fbc02d;
      color: #ffffff;
      cursor: default;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 600;
    }

    &__data {
      display: flex;
      padding: 0 10px;
      align-items: baseline;
      font-size: 16px;
      font-weight: 600;

      .count {
        font-size: 50px;
        line-height: 60px;
        font-weight: 400;
        padding-right: 5px;
      }
    }
  }
}
