@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap");

@import "../node_modules/primeng/resources/themes/mdc-light-indigo/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-size: 13px !important;
  font-family: "Source Sans Pro", "sans-serif" !important;
  margin: auto;
}

html,
body {
  height: 100%;
}

.height-fill {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 110px 20px 40px 140px;
}

.form-card {
  height: 100%;
}

.page-header {
  color: #ffcc4f;
  font-weight: bold;
  margin-bottom: 50px;
}

.btn {

  &:focus,
  &:active {
    box-shadow: none !important;
    outline: none !important;
  }

  &.btn-secondary {

    &:focus,
    &:active {
      background-color: #ffcc4f !important;
      border-color: #ffcc4f !important;
    }
  }
}

input,
select {
  font-size: 14px !important;
}

.upload-btn {
  position: relative;

  input[type="file"] {
    width: 100%;
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }
}

.back-link {
  color: #808085;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  word-spacing: 3px;
  cursor: pointer;

  &:hover {
    color: #808085;
    text-decoration: none;
  }
}

.btn {
  font-weight: 700;
  padding: 4px 20px;
}

.next-link {
  color: #8dc63f;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  word-spacing: 3px;
  cursor: pointer;

  &:hover {
    color: #8dc63f;
    text-decoration: none;
  }

}
