<nav class="bg-light sidebar-sticky">
  <div class="comp-logo">
    <img class="main-logo" src="../../../../assets/images/main-logo.png" />
  </div>
  <div class="sidebar-sticky__items">
    <ul class="nav flex-column align-content-center">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{ active: currentPage === '/dashboard' }" routerLink="dashboard">
          <img src="../../../../assets/images/sidebar1.jpg">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="userData['userRole'] !== 'reviewer'" routerLink="certification-types" [ngClass]="{ active: currentPage !== '/dashboard' }" href="#">
          <img src="../../../../assets/images/sidebar2.jpg">
        </a>
        <a class="nav-link" *ngIf="userData['userRole'] === 'reviewer'" routerLink="certification-queue" [ngClass]="{ active: currentPage !== '/dashboard' }" href="#">
          <img src="../../../../assets/images/sidebar2.jpg">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="userData['userRole'] === 'reviewer'" routerLink="work-board" [ngClass]="{ active: currentPage !== '/dashboard' }" href="#">
          <img src="../../../../assets/images/sidebar2.jpg">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reports">
          <img src="../../../../assets/images/sidebar3.jpg">
        </a>
      </li>
    </ul>
  </div>
</nav>
