<nav class="bg-light sidebar-sticky" *ngIf="userData">
  <div class="comp-logo">
    <img class="main-logo" src="../../../../assets/images/main-logo.png" />
  </div>
  <app-issuer-sidebar [page]="currentPage | async" *ngIf="userData['userRole'] !== 'reviewer' && userData['userRole'] !== 'admin'"></app-issuer-sidebar>
  <app-reviewer-sidebar [page]="currentPage | async" *ngIf="userData['userRole'] === 'reviewer'"></app-reviewer-sidebar>
  <app-admin-sidebar [page]="currentPage | async" *ngIf="userData['userRole'] === 'admin'"></app-admin-sidebar>
</nav>
