.btn {
  font-size: 16px;
  border-radius: 4px;
  padding: 2px 0;
  min-width: 120px;

  &.btn-primary {
    background: #fff;
    color: #808085;
    border: 2px solid #c8c8cb;
  }

  &.btn-secondary {
    background: #ffcc4f;
    border: 2px solid #ffcc4f;
    color: #ffffff;
  }

  &.btn-green {
    background-color: #8dc63f;
    border: 2px solid #8dc63f;
    color: #ffffff;
  }
}

::ng-deep {
  .p-paginator-bottom {
    justify-content: flex-end !important;
  }

}
